<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kristiehuang" />
<meta name="twitter:title" content="Kristie Huang" />
<meta name="twitter:description" content="Hey, I’m Kristie! 👋 I’m a blockchain geek, UC Berkeley student, and human being. (she/her) My “resumé” curiosities include startups, crypto, fintech, diversity/equity/inclusion, and product. Beyond work, though, I’ve been reflecting on my wellness/happiness, privilege, solitude, and what it means to be successful. Welcome to my corner of the internet :)" />
<!-- <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />
<meta name="twitter:image:alt" content="This is the alt text of the image." /> -->